.book-details {
  /* Ocultar el detalle del libro */
  display: none;
  flex-direction: column;
  align-items: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 2rem 0;
}

.book-image {
  /* alto fijo */
  height: 350px;
  /* ancho fijo */
  width: 250px;
  /* ajusta la imagen para que no se desforme */
  object-fit: cover;
  background-color: whitesmoke;
  padding: 1rem;
}

.book-image img {
  height: 100%;
  object-fit: cover;
}

.book-info {
  width: 100%;
}

.book-author {
  margin-block: 0;
  font-size: .9rem;
}

.book-price {
  font-size: 1.5rem;
  color: var(--primary-blue-color);
}

.accordion {
  width: 280px;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: .5rem;
  cursor: pointer;
  background-color: whitesmoke;
}

.accordion-button i {
  transition: transform 0.3s ease;
}

/* Animación para el efecto de persiana */
.accordion[open] .accordion-collapse {
  animation: slideDown 0.5s forwards;
}

.accordion .accordion-collapse {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

/* Estilos para los íconos */
.plus-icon,
.minus-icon {
  font-size: 1.5rem;
}

/* Por defecto, ocultar el ícono minus */
.minus-icon {
  display: none;
}

/* Cuando el details está abierto */
.accordion[open] .plus-icon {
  display: none;
}

.accordion[open] .minus-icon {
  display: block;
}

.accordion-body {
  padding: 1rem;
  background-color: white;
}

.accordion-body p {
  margin: 0.5rem 0;
}

/* Animación para el contenido */
.accordion-body {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Definición de la animación */
@keyframes slideDown {
  from {
    max-height: 0;
  }

  to {
    /* Ajusta el valor para la altura máxima que necesita el contenido */
    max-height: 500px;
  }
}

.overview {
  padding: 0 .5rem;
}

.book-description {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.book-description::first-letter {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  float: left;
  margin-right: .5rem;
  line-height: 1;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.5rem;
  margin: 0 1rem;
}

.go-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--primary-blue-color);
}

/* Para pantallas de escritorio */
@media screen and (min-width: 768px) {
  .book {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 10%;
  }

  .book-image {
    margin-bottom: 0;
    padding: 1rem;
  }

  .add-to-cart-button {
    display: inline-flex;
    margin: 0;
    width: 220px;
  }

}