@import url(./boxicons.css);
@import url(./variables.css);

/* Estilos globales. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../assets/images/background.png);
  background-repeat: repeat;
}

header {
  height: var(--header-height);
  background-color: var(--primary-blue-color);
  color: white;
}

main {
  margin: 0;
  background-color: white;
  padding: 1rem;
}

footer {
  background-color: var(--secondary-blue-color);
  color: white;
  text-align: center;
  padding: .75rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

/* Distribución de las secciones principales de una página del sitio. */
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Clase para el efecto del subrayado */
.title {
  position: relative;
  /* Usamos inline-block para mantener el centrado */
  display: inline-block;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--secondary-blue-color);
  transition: width 0.5s;
}

.title:hover::after {
  width: 100%;
}

.text-center {
  text-align: center;
}

.logo {
  width: 80px;
  border-radius: 50%;
  padding: 6px;
  background-color: white;
}

.brand {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.brand-heading {
  font-size: 1.3rem;
  width: auto;
  word-wrap: break-word;
  /* Permite romper palabras largas */
  word-break: break-word;
  /* Agrega guiones si es necesario */
  hyphens: auto;
  /* Permite que tome el espacio disponible */
  flex: 1;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 1rem;
}

.nav-button-label {
  font-size: 2rem;
  cursor: pointer;
}

/* Hacer rotar el menu hamburguesa */
.nav-button-label i {
  transition: transform 0.3s ease;
}

.nav-button-label:hover i {
  transform: rotate(180deg);
}

/* Estilos iniciales */
.nav-button-label i.bx-x {
  /* Oculta el icono de cerrar por defecto */
  display: none;
}

/* Cuando el checkbox está marcado */
#nav-button:checked~.nav-button-label i.bx-menu {
  /* Oculta el icono de menú */
  display: none;
}

#nav-button:checked~.nav-button-label i.bx-x {
  /* Muestra el icono de cerrar */
  display: inline;
}

/* Ocultar el checkbox para que solo el label sea visible */
#nav-button {
  display: none;
}

/* Cuando el checkbox esté marcado, mostrar el menu */
#nav-button:checked~.nav-menu {
  height: calc(100vh - var(--header-height));
  z-index: 9999;
}

.nav-menu {
  width: 100%;
  background-color: white;
  position: absolute;
  top: var(--header-height);
  left: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.5s;
}

.nav-link {
  text-decoration: none;
  color: white;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
}

.heading-2 {
  color: var(--secondary-blue-color);
  margin-block-end: 0;
}

.social-networks {
  margin: auto;
  display: flex;
  gap: .75rem;
}

.social-networks a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.button {
  padding: 0.5rem 2rem;
  background-color: var(--primary-blue-color);
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--light-blue-color);
}

.bx-cart {
  font-size: 2.5rem;
}

/* Para pantallas de escritorio */
@media screen and (min-width: 768px) {
  main {
    margin: 0 5%;
    padding: 2rem;
  }

  footer {
    justify-content: space-between;
  }

  .brand-heading {
    font-size: 1.3rem;
    width: auto;
  }

  .nav-bar {
    padding: 0 1.5rem;
  }

  .nav-button-label {
    display: none;
  }

  .nav-menu {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1.5rem;
    background-color: var(--primary-blue-color);
  }

  .nav-link {
    font-size: 1rem;
    font-weight: normal;
    background-color: var(--primary-blue-color);
    color: white;
  }

  .nav-link:hover {
    color: var(--light-blue-color);
  }

  .social-networks {
    margin: 0;
  }

  .bx-cart {
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 1025px) {
  main {
    margin: 0 10%;
  }

}